<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">



	<bean id = "helloUser" class = "org.example.beans.Users">
		<property name = "message" value = "Hello User Message"/>
	</bean>

	<bean id = "helloUserSingleton" class = "org.example.beans.Users" scope = "singleton">
	</bean>

	<bean id = "helloUserPrototype" class = "org.example.beans.Users" scope = "prototype">
	</bean>



</beans>